name: Android APK Builder
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  android.enableR8: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Cache Gradle dependencies
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
            
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build debug APK
        # COMMANDE FINALE : Test avec le nom de module 'athantvsetif'
        run: ./gradlew :athantvsetif:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AthanTV
          # Chemin de l'APK, en supposant que le vrai module s'appelle athantvsetif
          path: athantvsetif/build/outputs/apk/debug/app-debug.apk
